SIRK_BIND_HOST=127.0.0.1
SIRK_PORT=8080
SIRK_PUBLIC_ORIGIN=https://central.sirkportal.com
SIRK_ADMIN_USERNAME=admin
SIRK_ADMIN_PASSWORD_HASH='scrypt$REPLACE_WITH_HASH_PASSWORD_OUTPUT'
SIRK_ACCESS_KEY_HASH='sha256$REPLACE_WITH_GENERATE_ACCESS_KEY_HASH'
SIRK_DATA_DIR=/var/lib/sirk-central
SIRK_SESSION_HOURS=8
SIRK_WEBSITE_DOMAIN=sirkportal.com
SIRK_CENTRAL_DOMAIN=central.sirkportal.com
SIRK_ACME_EMAIL=admin@sirkportal.com
